@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
}

body, .content {
  flex-direction: column;
}

ul {
  display: inline-flex;
  gap: 22px;
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
  /* text-align: center; */
  /* column-count: 2; */
  /* list-style-image: 1fr; */
  /* margin-right: 42.6px; */
}

li {
  /* float: left; */
}

.right-links, .left-links {
  gap: 36px;
  /* transform: scaleX(-1); */
}

a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer {
  padding-bottom: 0px;
  padding-top: 0px;
  background: lightgray;
}

.content
{
  display: flex;
  align-items: center;
}

img {
  width: 600px;
}

button {
  padding: 10px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
